<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452304619317-dml265l4l7vnd576arqipqj08tpb63pd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452304619317-dml265l4l7vnd576arqipqj08tpb63pd</string>
	<key>API_KEY</key>
	<string>AIzaSyBKWUNt7pmNPRZHAv06WQ0Hmgsn92ck5vY</string>
	<key>GCM_SENDER_ID</key>
	<string>452304619317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pavan72362.medirec</string>
	<key>PROJECT_ID</key>
	<string>medirec-49438</string>
	<key>STORAGE_BUCKET</key>
	<string>medirec-49438.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452304619317:ios:9852d47e74085283f3ee7c</string>
</dict>
</plist>